[Unit]
Description=--- MySQL docker container for Nextcloud ---
After=docker.service
Wants=mysql-docker.service network-online.target docker.socket
Requires=docker.socket

[Service]
Restart=always
ExecStop=/usr/bin/docker stop -t 10  mysql
ExecStart=/usr/bin/docker start -a mysql

[Install]
WantedBy=multi-user.target